<% layout('layout') -%> 

<div class="container main login" style="width: 100%; height:auto">
   
<h1><%=  req.__('text.consent.authorization_required') %></h1>
    <!-- Consent Page Template -->
     <!-- <div class="clearfix">
          <div class="application-logo-circle">
              <img class="img-responsive close-img" src="<%= app_logo_url%>"  style="width: 100%;">
              <p class="caption"><%= appName%></p>
          </div>
          <div class="switch-arrow">
              <img class="img-responsive close-img" src="<%= req.query.basepath%>/ui/images/Switch.png">
          </div>
          <div class="mobile-circle">
              <img class="img-responsive <%= scope_class %>" src="<%= scope_icon %>">                        
              <p class="caption"><%= user_attribute%><p>
          </div>
      </div> -->
    
       <h3><small><%=  req.__('text.consent.the_application') %> <%= appName%> <%=  req.__('text.consent.require_access') %></small>
      </h3>
 
             <% var scopes= profile_scopes.split(" ") %>
			 <%
				var resourceObj = 	
						[{ "resource" : "allergyintolerance",  
						  "scope"   : "patient/Allergyintolerance.read",
						  "display" : "Read Your Allergies and Intolerances"
						},
						{ "resource" : "careplan",  
						  "scope"  : "patient/Careplan.read",
						  "display": "Read Your Careplans" 
						},
						{ "resource" : "condition",  
						  "scope"  : "patient/Condition.read",
						  "display": "Read Your Conditions" 
						},
						{ "resource" : "coverage",  
						  "scope"  : "patient/Coverage.read",
						  "display": "Read Your Coverages" 
						},
						{ "resource" : "diagnosticorder",  
						  "scope"   : "patient/Diagnosticorder.read",
						  "display" : "Read Your Diagnostic Orders"
						},
						{ "resource" : "diagnosticreport",  
						  "scope"  : "patient/Diagnosticreport.read",
						  "display": "Read Your Diagnostic Reports" 
						},
						{ "resource" : "documentreference",  
						  "scope"  : "patient/Documentreference.read",
						  "display": "Read Your Document References" 
						},
						{ "resource" : "encounter",  
						  "scope"   : "patient/Encounter.read",
						  "display" : "Read Your Encounters"
						},
						{ "resource" : "immunization",  
						  "scope"  : "patient/Immunization.read",
						  "display": "Read Your Immunizations" 
						},
						{ "resource" : "medicationadministration",  
						  "scope"  : "patient/Medicationadministration.read",
						  "display": "Read Your Medication Administrations" 
						},
						{ "resource" : "medicationdispense",  
						  "scope"   : "patient/Medicationdispense.read",
						  "display" : "Read Your Medication Dispenses"
						},
						{ "resource" : "medicationorder",  
						  "scope"  : "patient/Medicationorder.read",
						  "display": "Read Your Medication Orders" 
						},
						{ "resource" : "medicationstatement",  
						  "scope"  : "patient/Medicationstatement.read",
						  "display": "Read Your Medication Statements" 
						},
						{ "resource" : "observation",  
						  "scope"  : "patient/Observation.read",
						  "display": "Read Your Observations" 
						},
						{ "resource" : "patient",  
						  "scope"  : "patient/Patient.read",
						  "display": "Read Your Demographics" 
						},
						{ "resource" : "practitioner",  
						  "scope"  : "patient/Practitioner.read",
						  "display": "Read Your Practitioners" 
						},
						{ "resource" : "procedure",  
						  "scope"  : "patient/Procedure.read",
						  "display": "Read Your Procedures" 
						},
						{ "resource" : "schedule",  
						  "scope"  : "patient/Schedule.read",
						  "display": "Read Your Schedules" 
						},]				  
					var readableScopes =[];
					for(var i=0; i<scopes.length ; i++) {
						for (var j=0; j < resourceObj.length; j++) {
							if (resourceObj[j]['scope'] === scopes[i])
							{
								readableScopes[i] = resourceObj[j]['display'];
								break;
							}	
							else{
								readableScopes[i]=scopes[i];
							}
							
						}
					}			 
			%>
			 
             <% for(var i=0; i<readableScopes.length ; i++) { %>
            <li class="list-group-item"> <%= readableScopes[i] %>
            </li>
			<% } %>
               
              <div class="rular"></div>  
        <div >
          <form action="/openid/redirect/<%= sessionid%>" role="form">
     
                <button type="button" class="btn btn-lg btn-default disagree close-window"  onclick="window.location='<%= redirectURL%>'"><%=  req.__('text.consent.no_thanks') %></button>
                <button type="submit" class="btn btn-lg btn-warning agree"><%=  req.__('text.consent.agree') %></button>   

          </form>
        </div>
 
  </div>