
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Encounters</title>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<style>

body {   
   font-family:sans-serif;
   margin-top:0;
   color: rgb(168, 168, 168);    
   font-size:12pt;
}

a:link,a:visited,a:hover,a:active  {
    color: blue;
    font-size:10pt;   
    font-weight:normal;
}

#first{
  width:100;background-color:RGB(0,100,100);
  height:40px;
  border-top-left-radius:9px;
  border-top-right-radius:9px;
}

#second{
  width:100;background-color:RGB(0,100,100);
  height:50px;  
  align-contents:cetner;
}

#client_area {
    background-color:RGB(210,236,246);
	height:800px;
    width:800px;
    margin: auto;    
    border:3px;    
    border-radius: 9px;
    box-shadow: 10px 10px 5px #888888;
}

#page_heading {      
    height:32px;
    width:789px;
    background-color:RGB(100,100,100);  
    font-size:20px;
    padding:2px; 
    border-width:100%; 
    color:white;
    padding-top:4px;   
    padding-left:9px;
    padding-top:10px;
}

#info_heading {      
    width:788px;
    height:20px;
    color:white;  
    font-size:12px;
    padding:2px; 
    border-bottom: solid 1px RGB(190,255,255);   
    border-width:100%;     
    background-color:RGB(150,150,150);
    padding-left:9px; 
	font-weight:bold;
}

.table{
  color: rgb(100, 100, 100);
  width:55%;
  font-size:10px; 
  background-color:RGB(230,230,230) 
}

.field{
  text-align:right;
  font-size:10pt;
  font-family : Arial;
}

.value{
  font-weight:bold;
  font-size:9pt;
  font-family : Arial;
}

.patient_name{
  font-size:14pt;
  color:RGB(254,67,0);;
  padding-left:9px;
  font-weight:bold;	
}

#app_name{
  width:50%
  height:100%;
  font-size:18pt;
  font-weight:bold;	
  padding-left:10px;
  top:20px;
  position:absolute;  
  float:left;
  position:relative;
  color:white;
}

#account{
  width:47%;
  height:100%;  
  font-weight:bold;	
  padding-right:10px;
  top:20px;
  position:absolute;  
  float:left;
  position:relative; 
  text-align:right;
  font-size:10pt;
  padding-top:5px;  
}

table{
  color:rgb(100,100,100);
  font-size:10pt;
  width:90%;
}
th{
  font-weight:bold;	
}

#menu{
  height:18px;
  padding:3px;
  color:white;
  background-color:white;
}
</style>
</head>
<body> 
<div id="client_area" >
    <div id="first"></div>
    <div id="second">
       <div id="app_name">My Health Data</div>      
    </div>
	<div style="width:100;background-color:RGB(0,100,100);height:20px;"></div>
    <div id="page_heading">Clinical Data
	</div>    
    
    <div id="info_heading">Encounters
		<div style= "float:right; id="menu">
			<a style="float:right;color:white; padding-right:10px;" href="javascript:history.back()">Back</a>     
		</div>   
	</div>
	
	
	<div id="encounters_list" style="padding-left:10px;padding-top:10px"></div>
    <h3 id="ids" style="display:none;"><%= id_array %></h3>
    <h3 id="status" style="display:none;"><%= status_array %></h3>
	<h3 id="class" style="display:none;"><%= class_array %></h3>
	<h3 id="last_updated" style="display:none;"><%= last_updated_array %></h3>
	<h3 id="version" style="display:none;"><%= version_array %></h3>
</div>    
<script type="text/javascript">	      
    var ids_array =  JSON.parse(document.getElementById("ids").innerText);   
	var status_array = JSON.parse(document.getElementById("status").innerText);
	var class_array = JSON.parse(document.getElementById("class").innerText);
	var last_updated_array = JSON.parse(document.getElementById("last_updated").innerText);
	var version_array = JSON.parse(document.getElementById("version").innerText);
	
	for(idx = 0; idx < status_array.length; idx++){
	 //alert(ids_array[idx]);
	}
	
	var cnt = 0;     
	var tablearea = document.getElementById('encounters_list'),
    table = document.createElement("table");
    var tr = document.createElement('tr');
    
	tr.setAttribute("font-weight","bold");
    tr.appendChild( document.createElement('td'));
    tr.appendChild( document.createElement('td') );
	tr.appendChild( document.createElement('td') );
	tr.appendChild( document.createElement('td') );
	tr.appendChild( document.createElement('td') );
	
	tr.cells[0].appendChild( document.createTextNode("Id"));
    tr.cells[1].appendChild( document.createTextNode("Status"));
	tr.cells[2].appendChild( document.createTextNode("Class"));
	tr.cells[3].appendChild( document.createTextNode("Last Updated"));
	tr.cells[4].appendChild( document.createTextNode("Version"));
	
	tr.setAttribute("style", "font-weight:bold");
	table.appendChild(tr);
    
	while(cnt < ids_array.length){ 
      var tr = document.createElement('tr');

      tr.appendChild( document.createElement('td') );
      tr.appendChild( document.createElement('td') );
	  tr.appendChild( document.createElement('td') );
	  tr.appendChild( document.createElement('td') );
	  tr.appendChild( document.createElement('td') );
	  
       
	 var url = document.createElement('a'); 
	  url.setAttribute('href',"<%= get_encounter %>?_id=" + ids_array[cnt] );            
      url.innerHTML = ids_array[cnt];
      tr.cells[0].appendChild(url);
      tr.cells[1].appendChild( document.createTextNode(status_array[cnt]));
	  tr.cells[2].appendChild( document.createTextNode(class_array[cnt]));
	  
	  var d = new Date(last_updated_array[cnt])
	  tr.cells[3].appendChild( document.createTextNode(d.toLocaleString()));
	  
	  tr.cells[4].appendChild( document.createTextNode(version_array[cnt]));

      table.appendChild(tr);
	  cnt++;
    }

     tablearea.appendChild(table);
	</script>
</body>
</html>